html {
	scroll-behavior: smooth;
}

body{
	background-image: url(csgo_fondo.jpg);
}


header, section, footer{
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}


header{
	height: 150px;	
	background: -moz-linear-gradient(top, #0BB6CA , #39045C);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#0BB6CA), to(#39045C));
	position: sticky;
	top: 0px;
	z-index: 100;
}



#texto_1{
	width: 330px;
	height: 100px;
	background-color: #8181F7;
	float: left;
	margin-top: 25px;
	margin-left: 5px;
}


#texto_2{
	width: 320px;
	height: 100px;
	background-color: #F05521;
	float: left;
	margin-top: 25px;
	margin-left: 10px;
}


#texto_1, #texto_2{
	color: #2C14F5;
	font-size: 17px;	
	font-family: 'Roboto Condensed', sans-serif;
	box-shadow: 4px 8px 6px rgba(0, 0, 255, 0.5);
	-moz-box-shadow: 4px 8px 6px rgba(0, 0, 255, 0.5);
	-webkit-box-shadow: 4px 8px 6px rgba(0, 0, 255, 0.5);
}


#botonera_1{
	width: 280px;
	height: 100px;	
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}


ul.botonera_1{
	margin: 0;
	padding: 0;
	list-style-type: none;
}


ul.botonera_1 li{
	display: inline;
}


ul.botonera_1 li a{
	display: inline-block;
	width: 60px;
	height: 50px;
	background-color: #05906A;
	color: #000000;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	margin-top: 45px;
	margin-right: 5px;
	margin-left: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius:  5px;
	box-shadow: 4px 8px 6px rgba(0, 0, 255, 0.5);
}


ul.botonera_1 li a:hover{
	background-color: #11E0A7;
	font-weight: bold;
}


#primero{
	height: 1400px;	
	background-image: url(./Section/csgo_1.jpg);
	padding-top: 110px;
}


#texto_3{
	width: 390px;
	height: 550px;
	float: left;
	margin-top: 65px;
	margin-left: 15px;
}


#texto_4{
	width: 460px;
	height: 550px;
	float: right;
	margin-top: 65px;
	margin-right: 15px;
}


#texto_3, #texto_4{
	color: #8F35D6;
	font-size: 20px;
	font-family: 'Roboto Condensed', sans-serif;
	box-shadow: 10px 12px 10px rgba(255, 0, 0, 0.5), -10px -20px 15px rgba(255, 0, 0, 0.5);
	-moz-box-shadow: 10px 12px 10px rgba(255, 0, 0, 0.5), -10px -20px 15px rgba(255, 0, 0, 0.5);
	-webkit-box-shadow: 10px 12px 10px rgba(255, 0, 0, 0.5), -10px -20px 15px rgba(255, 0, 0, 0.5);
	margin-bottom: 30px;
}

#rangocsgo{
	width: 400px;
	height: 220px;
	background-color: ;
	box-sizing: border-box;
	margin-right: auto;
	margin-left: auto;
	font-family: 'Roboto Condensed', sans-serif;
	clear: both;
	padding-top: 150px;
}

.destacado_h2{
	text-align: center;
	color: #8F35D6;
	text-decoration: underline;
}


input, textarea {
	width: 100%;
	display: block;
	margin-bottom: 4px;
	box-sizing: border-box;
}

#libreria_javascript{
	width: 550px;
	margin-top: 250px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
}


#libreria_javascript img{
	width: 250px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #FF0000;
	box-sizing: border-box;
}


#segundo{
	height: 900px;
	background-image: url(./Section/csgo_2.jpg);
	background-origin: padding-box;
	-moz-background-origin: padding;
	-webkit-background-origin: padding;
	padding-top: 180px;
}


#texto_5{
	width: 850px;
	height: 200px;
	background-color: rgba(0, 0, 255, 0.3);
	margin-right: auto;
	margin-left: auto;		
	color: #AFE8EF;
	font-size: 20px;
	font-family: 'Source Code Pro', monospace;
	text-align: center;
	text-decoration: underline;	
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border: 1px solid #FF0000;
	box-sizing: border-box;
}


#imagen_1{
	width: 260px;
	height: 190px;
	margin-left: 15px;
	float: left;
	margin-top: 50px;
}

#imagen_1 img {
	width: 100%;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #FF0000;
	box-sizing: border-box;
}


#texto_7{
	width: 260px;
	height: 150px;
	margin-left: 15px;
	margin-top: 310px;
	position: absolute;
	float: left;
	box-sizing: border-box;
}


#texto_6{
	width: 305px;
	height: 600px;
	background-color: rgba(17, 213, 244, 0.7);
	float: left;
	margin-left: 47.5px;
	margin-top: 50px;
	font-size: 32px;
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	color: #8F35D6;
	box-shadow: 10px 12px 10px rgba(255, 0, 0, 0.5), -10px -20px 15px rgba(255, 0, 0, 0.5);
	-moz-box-shadow: 10px 12px 10px rgba(255, 0, 0, 0.5), -10px -20px 15px rgba(255, 0, 0, 0.5);
	-webkit-box-shadow: 10px 12px 10px rgba(255, 0, 0, 0.5), -10px -20px 15px rgba(255, 0, 0, 0.5);
}


#imagen_2{
	width: 270px;
	height: 170px;
	float: right;
	margin-right: 15px;
	margin-top: 50px;

}

#imagen_2 img {
	width: 100%;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #FF0000;
	box-sizing: border-box;
}

#texto_8{
	width: 270px;
	height: 150px;
	float: right;
	margin-right: 15px;
	margin-top: 30px;
	box-sizing: border-box;
}

#texto_7, #texto_8{
	color: #FCFCFC;
	font-size: 20px;
	font-family: 'Zen Kurenaido', sans-serif;
	font-style: italic;
	font-weight: bold;
	text-align: center;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color: rgba(83, 189, 0, 0.8);
	border: 1px solid #FF0000;
}


#tercero{
	height: 1150px;	
	background-image: url(./Section/csgo_3.jpg);
	padding-top: 150px;
}


#texto_10{
	width: 600px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	box-sizing: border-box;
	background-color: rgba(17, 213, 244, 0.7);
	font-size: 32px;
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	color: #8F35D6;
	padding-top: 5px;
	box-shadow: 10px 12px 10px rgba(0, 255, 0, 0.5), -10px -20px 15px rgba(0, 255, 0, 0.5);
	-moz-box-shadow: 10px 12px 10px rgba(0, 255, 0, 0.5), -10px -20px 15px rgba(0, 255, 0, 0.5);
	-webkit-box-shadow: 10px 12px 10px rgba(0, 255, 0, 0.5), -10px -20px 15px rgba(0, 255, 0, 0.5);
}


#botonera_3{
	width: 800px;
	height: 100px;	
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 150px;
	
}


ul.botonera_3{
	margin: 0;
	padding: 0;
	list-style-type: none;
}


ul.botonera_3 li{
	display: inline;
}


ul.botonera_3 li a{
	display: inline-block;
	width: 200px;
	height: 50px;
	background-color: #05906A;
	color: #000000;
	text-decoration: none;
	text-align: center;
	font-size: 25px;
	font-family: 'Source Code Pro', monospace;
	line-height: 50px;
	margin-top: 25px;
	margin-left: 50px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius:  5px;
	box-shadow: 4px 8px 6px rgba(0, 0, 255, 0.5);
}


ul.botonera_3 li a:hover{
	background-color: #11E0A7;
	font-weight: bold;
}


#imagen_3{
	width: 448px;
	height: 235px;
	margin-left: 15px;
	float: left;
	margin-top: 30px;
}

#imagen_3 img {
	width: 100%;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #FF0000;
	box-sizing: border-box;
}


#texto_11{
	width: 448px;
	height: 235px;
	float: right;
	margin-right: 15px;
	margin-top: 30px;
	box-sizing: border-box;
	color: #FCFCFC;
	font-size: 20px;
	font-family: 'Zen Kurenaido', sans-serif;
	font-style: italic;
	font-weight: bold;
	text-align: center;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color: rgba(83, 189, 0, 0.8);
	border: 1px solid #FF0000;
}


.texto_violeta{
	color: #8F35D6;
	font-style: normal;
	font-size: 21px;
}

.texto_rojo{
	color: #F00000;
	font-style: normal;
	font-size: 21px;
}

#footer{
	height: 90px;
	background-image: url(./Section/csgo_footer.jpg);
}


#botonera_2{
	width: 300px;
	height: 30px;
	float: left;
	margin-top: 50px;
	margin-left: 15px;
}


ul.botonera_2{
	margin: 0;
	padding: 0;
	list-style-type: none;
}


ul.botonera_2 li{
	display: inline;
}


ul.botonera_2 li a{
	display: inline-block;
	width: 80px;
	height: 30px;
	background-color: #05906A;
	color: #000000;
	text-decoration: none;
	text-align: center;
	line-height: 35px;
	margin-right: 5px;
	margin-left: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius:  5px;
	box-shadow: 4px 8px 6px rgba(0, 0, 255, 0.5);
}


ul.botonera_2 li a:hover{
	background-color: #11E0A7;
	font-weight: bold;
}


#texto_9{
	width: 350px;
	height: 60px;
	background-color: ;
	background-color: rgba(10, 178, 192, 0.9);
	float: right;
	margin-top: 10px;
	margin-right: 15px;
	color: #FF0000;
	box-shadow: 4px 8px 6px rgba(0, 0, 255, 0.5);
	-moz-box-shadow: 4px 8px 6px rgba(0, 0, 255, 0.5);
	-webkit-box-shadow: 4px 8px 6px rgba(0, 0, 255, 0.5);

}


#texto_9 a{
	text-decoration: none;
	font-family: 'Roboto Condensed', sans-serif;
	color: #9C0D0D;
}


@media all and (min-width: 600px) and (max-width:  1023px) {


header, section, footer{
	width: 580px;
}


header{
	height: 220px;
}



#texto_1{
	width: 290px;
}


#texto_2{
	width: 270px;
}


#texto_1, #texto_2{
	font-size: 14px;
	height: 90px;
}


#botonera_1{
	width: 280px;
	
}


ul.botonera_1 li a{
	width: 60px;
	margin-top: 20px;
}


#primero{
	height: 1600px;
	padding-top: 200px;
}


#texto_3, #texto_4{
	width: 250px;
	height: 690px;
	font-size: 18px;
}

#rangocsgo{
	padding-top: 200px;
}



#libreria_javascript{
	width: 350px;
	margin-top: 290px;
	margin-left: auto;
	margin-right: auto;
}


#libreria_javascript img{
	width: 150px;
}


#segundo{
	height: 1200px;
	background-origin: padding-box;
	-moz-background-origin: padding;
	-webkit-background-origin: padding;
	padding-top: 240px;
}


#texto_5{
	width: 560px;
	height: 150px;
	font-size: 15px;
}


#imagen_1,{
}


#texto_7{	
}


#texto_6{
	width: 250px;
	height: 520px;
	margin-left: 40px;
	font-size: 28px;
}


#imagen_2{
	width: 260px;
	float: left;
	margin-left: 15px;
}


#texto_8{
	width: 260px;
	float: left;
	margin-left: 15px;
}


#tercero{
	height: 700px;
	padding-top: 240px;
}


#texto_10{
	width: 560px;
	height: 250px;
	padding-top: 2px;
	font-size: 28px;
}

#botonera_3{
	width: 560px;
}


ul.botonera_3 li a{
	width: 140px;
	height: 50px;
	font-size: 15px;
	margin-top: 25px;
	margin-left: 35px;
}



#imagen_3{
	width: 260px;
	height: 235px;
}


#texto_11{
	width: 260px;
	height: 200px;
	font-size: 15px;
}

.texto_violeta{
	font-size: 16px;
}

.texto_rojo{
	font-size: 16px;
}

#footer{
	height: 100px;
}


#botonera_2{
	width: 250px;
	height: 25px;
	margin-top: 15px;
}

ul.botonera_2 li a{
	margin-top: 2px;
}


#texto_9{
	width: 300px;
	margin-top: 15px;
}


} /* fin @media 600 a 1023px */


@media all and (max-width: 599px) {


header, section, footer{
	width: 100%;
}


header{
	height: auto;
}



#texto_1, #texto_2, #botonera_1{
	width: 100%;
	height: auto;
	float: none;
	margin-top: 0;
	margin-left: 0;
}


ul.botonera_1 li a{
	width: 100%;
	height: auto;
	line-height: 25px;
	margin-top: 1px;
	margin-right: 0;
	margin-left: 0;
}


#primero{
	height: 2500px;
	padding-top: 220px;
}


#texto_3, #texto_4{
	width: 100%;
	height: auto;
	float: none;
	margin-top: 50px;
	margin-left: 0;
}

#rangocsgo{
	width: 100%;
	height: auto;
	margin-right: 0;
	margin-left: 0;
	padding-top: 250px;
}



#libreria_javascript{
	width: 100%;
	margin-top: 50px;
	margin-left: 0;
	margin-right: 0;
}


#libreria_javascript img{
	width: 100%;
}


#segundo{
	height: 1150px;
	padding-top: 250px;
}


#texto_5{
	width: 100%;
	height: auto;
	font-size: 14px;
	margin-right: 0;
}


#imagen_1{
	width: 100%;
	height: 230px;
	margin-left: 0;
	margin-right: 0;
	float: none;
	margin-top: 0;
}


#texto_7{
	width: 100%;
	height: auto;
	margin-top: -465px;
	margin-left: 0;
	margin-right: 0;
	float: none;
	position: static;
}


#texto_6{
	width: 100%;
	height: auto;
	float: none;
	margin-top: 195px;
	margin-left: 0;
	font-size: 20px;
}


#imagen_2{
	width: 100%;
	height: 170px;
	float: none;
	margin-right: 0;
	margin-top: 0;
	
}


#texto_8{
	width: 100%;
	height: auto;
	float: none;
	margin-right: 0;
	margin-top: 405px;
}

#tercero{
	height: 1000px;
	padding-top: 240px;
}


#texto_10{
	width: 100%;
	height: auto;
	margin-top: 15px;
	font-size: 20px;
	text-align: center;
	padding-top: 0;
}

#botonera_3{
	width: 100%;
	height: auto;	
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;

}


ul.botonera_3 li a{
	display: inline-block;
	width: 100%;
	height: auto;
	font-size: 15px;
	line-height: 20px;
	margin-top: 2px;
	margin-left: 0;
}

#imagen_3{
	width: 100%;
	height: auto;
	margin-left: 0;
	float: none;
	margin-top: 0;
}

#imagen_3 img {
	width: 100%;
}


#texto_11{
	width: 100%;
	height: auto;
	float: none;
	margin-right: 0;
	margin-top: 0;
}


#footer{
	height: auto;
}


#botonera_2{
	width: 100%;
	height: auto;
	float: none;
	margin-top: 0;
	margin-left: 0;
}



ul.botonera_2 li a{
	width: 100%;
	height: 30px;
	text-decoration: none;
	text-align: center;
	line-height: 35px;
	margin-right: 0;
	margin-left: 0;
	margin-top: 2px;
}


#texto_9{
	width: 100%;
	height: auto;
	float: none;
	margin-top: 0;
	margin-right: 0;
}

} /* fin @media -599px */